<div class="rounded-lg hover:bg-gray-50 p-6 shadow h-full flex flex-col">
  <a href="{{include.post.url | relative_url}}" class="flex flex-col h-full" aria-label="Post Url">
    <img src="{{include.post.image | relative_url}}" alt="{{include.post.title}}" class="object-cover w-full h-48 rounded hover:opacity-90 transition duration-300" />
    <p class="font-mulish text-gray-500 mt-4 mb-2 text-sm">
      {{ include.post.categories[0] | upcase }}
    </p>
    <h2 class="text-xl hover:underline font-bold my-2 text-gray-800">{{include.post.title}}</h2>
    <div class="flex-grow"></div>
    <span class="font-mulish text-sm text-gray-500 mt-4">
      {{ include.post.date | date: "%-d %B %Y" }}
    </span>
  </a>
</div>
