<div class="rounded-lg hover:bg-gray-50 p-8 shadow">
  <a href="{{include.publication.url | relative_url}}">
    <p class="font-mulish text-gray-500 mb-2">{{include.publication.venue | upcase}}</p>
    <h2 class="text-2xl hover:underline font-bold my-2 text-gray-800">{{include.publication.title}}</h2>
    <div class="font-mulish text-gray-600 mt-4">
      {{include.publication.excerpt}}
    </div>
    <div class="my-4">
      {% for tag in include.publication.tags %}
      <span class="font-mulish text-sm text-gray-500">#{{ tag | xml_escape }}</span>
      {% endfor %}
    </div>
  </a>
</div>
