<div class="rounded-lg hover:bg-gray-50 p-6 shadow h-full flex flex-col">
  <a href="{{include.publication.url | relative_url}}" class="flex flex-col h-full">
    <p class="font-mulish text-gray-500 mb-2 text-sm">{{include.publication.venue | upcase}}</p>
    <h2 class="text-xl hover:underline font-bold my-2 text-gray-800">{{include.publication.title}}</h2>
    <div class="font-mulish text-gray-600 mt-4 flex-grow">
      {{include.publication.excerpt}}
    </div>
    <div class="mt-4 flex flex-wrap gap-2">
      {% for tag in include.publication.tags %}
      <span class="font-mulish text-sm text-gray-500">#{{ tag | xml_escape }}</span>
      {% endfor %}
    </div>
  </a>
</div>
