<div class="rounded-lg hover:bg-gray-50 p-6 shadow h-full flex flex-col">
  <a href="{{include.speaking.url | relative_url}}" class="flex flex-col h-full">
    <img src="{{include.speaking.image | relative_url}}" alt="{{include.speaking.title}}" class="object-cover w-full h-48 rounded" />
    <p class="font-mulish text-gray-500 mt-4 mb-2 text-sm">{{include.speaking.venue | upcase}}</p>
    <h2 class="text-xl hover:underline font-bold my-2 text-gray-800">{{include.speaking.title}}</h2>
    <div class="font-mulish text-gray-600 flex-grow">
      {{include.speaking.excerpt}}
    </div>
    <div class="mt-4 flex flex-wrap gap-3">
      {% for tag in include.speaking.tags %}
      <span class="font-mulish text-sm text-gray-500">#{{ tag | xml_escape }}</span>
      {% endfor %}
    </div>
  </a>
</div>
